-f https://download.pytorch.org/whl/torch_stable.html
celluloid==0.2.0
d2l==v0.16.0
IPython==7.16.1
numpy==1.19.5
matplotlib==3.3.4
torch==1.8.1+cu101
torchvision==0.9.1+cu101
scikit-learn==0.24.1
seaborn==0.11.1

